:root {
  --max-width-content: 1000px;
  --spacing-lg: 20px; 
  --background-color:#fefefe;
  --container-color:#ffffff;
  --border-color:#f3f4f6;
  --title-color:#1f2937;
  --text-color:#4b5563;
  --action-color:#2563eb;
  --action-hover:#1d4ed8;
  --shadow-static: rgba(31, 41, 55, 0.4);
  --shadow-hover: rgba(31, 41, 55, 0.5); 
  --icon-color: var(--title-color); 
  --moon-color: var(--title-color);
  --sun-color: var(--text-color);
}

.dark-theme{
  --background-color:#111827;
  --container-color:#1f2937;
  --border-color:#374151;
  --title-color:#ffffff;
  --text-color:#9ca3af;
  --action-color:#2563eb;
  --action-hover:#1d4ed8;
  --icon-color: var(--title-color); 
  --moon-color: var(--title-color);
  --sun-color: var(--text-color);
}

.footer-container {
  padding: 10px 20px; 
  width: 90vw;
  max-width: 1000px;
  background-color: var(--background-color);
  border-top:1px solid var(--text-color) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; 
  margin: 30px auto 0;
}

.footer-title {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.6rem; 
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 0;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: auto;
  font-size: 1.1rem;
}

.footer-link {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--text-color); 
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s ease; 
}

.footer-link:hover,
.footer-link:focus {
  outline: 2px solid var(--action-hover); 
  outline-offset: 2px;
  transform: translateY(-3px); 
  color: var(--action-color);
}

.footer-link i {
  font-size: 1.5rem;
}

.footer-copyright {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-list {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .footer-title {
    font-size: 1.3rem;
  }
  
  .footer-to-top .footer-item-text {
    display: none;
  }

  .footer-list {
    gap: 15px;
  }
}