* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color); 
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  line-height: 1.6;
}

.project-main {
  width: 90vw;
  max-width: var(--max-width-content);
  margin: 0 auto;
  padding: var(--spacing-lg) 20px; 
  background-color: var(--container-color); 
  border-radius: 15px;
  box-shadow: 0 4px 15px var(--shadow-static); 
}

.title-lvl1, .title-lvl2, .title-lvl3{
  font-family: 'Montserrat', sans-serif;
}

.title-lvl1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--title-color);
}

.title-lvl2 {
  font-size: 1.8rem;
  color: var(--title-color);
}

.title-lvl3 {
  font-size: 1.4rem;
  color: var(--title-color); 
  margin-top: 1.5rem;
}

.text {
  margin-bottom: 1rem;
  color: var(--text-color);
}

.list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.list-item-img{
  height: 50px;
}

.link {
  color: var(--action-color);
  text-decoration: none;
}

.link:hover {
  color: var(--action-hover);
  text-decoration: underline;
}

.code-pre {
  background: #111;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  margin-bottom: 1.5rem;
}