* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-accent: rgb(255, 153, 0); 
  --color-dark-bg: #1a1a1a; 
  --color-text-light: #f0f0f0;
  --max-width-content: 1000px;
  --spacing-lg: 80px; 
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-bg); 
  color: var(--color-text-light); 
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  line-height: 1.6;
}

.title-lvl1, .title-lvl2, .title-lvl3{
  font-family: 'Montserrat', sans-serif;
}

.title-lvl1 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}

.title-lvl2 {
  font-size: 1.8rem;
  color: #fff;
}

.title-lvl3 {
  font-size: 1.4rem;
  color: #fff; 
  margin-top: 1.5rem;
}

.text {
  margin-bottom: 1rem;
  color: #d0d0d0;
}

.list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.list-item-img{
  height: 50px;
}

.link {
  color: #4da6ff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.code-pre {
  background: #111;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  margin-bottom: 1.5rem;
}
.project-main {
  max-width: 1000px;
  width: 90vw;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
}
@media (max-width: 735px) {
}
