:root {
  --max-width-content: 1000px;
  --spacing-lg: 20px; 
  --background-color:#fefefe;
  --container-color:#ffffff;
  --border-color:#f3f4f6;
  --title-color:#1f2937;
  --text-color:#4b5563;
  --action-color:#2563eb;
  --action-hover:#1d4ed8;
  --shadow-static: rgba(31, 41, 55, 0.4);
  --shadow-hover: rgba(31, 41, 55, 0.5); 
  --icon-color: var(--title-color); 
  --moon-color: var(--title-color);
  --sun-color: var(--text-color);
}
 
.dark-theme{
  --background-color:#111827;
  --container-color:#1f2937;
  --border-color:#374151;
  --title-color:#ffffff;
  --text-color:#9ca3af;
  --action-color:#2563eb;
  --action-hover:#1d4ed8;
  --icon-color: var(--title-color); 
  --moon-color: var(--title-color);
  --sun-color: var(--text-color);
}
